<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite"   parallel="tests"  >
    <listeners>
        <listener class-name="Listnerspack.listnerClass"></listener>
    </listeners>
    <test  name="Chrome Test">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="TestSuite.FunctionalCases"/>
        </classes>
    </test>
    <test  name="Edge Test">
        <parameter name="browser" value="edge"></parameter>
        <classes>
            <class name="TestSuite.FunctionalCases"/>
        </classes>
    </test>

</suite>